/* *****************************************************************************
Title: Main CSS
Use: So HTML5 semantic elements can be formatted correctly 
Author: Kelly Karanja
School/Term: Southern Illinois University, Fall 2019
Developed: November 26, 2019
Tested: Sept 15, 2019; Passed on Firefox and Chrome browsers.
*/
body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;    
}
/* Main styles */
.main{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.buttons{
    height: 40px;
    width: 130px;
    color: white;
    font-size: 18px;
    background-color: coral;
    border: 0;
    border-radius: 20px;
}
ul {
    margin: 0;
    padding: 0;
}
.highlight{
    font-size: 25px;
    color: orangered;
}

/* Header styles */
header{
    height: 75px;
    background-color: cornflowerblue;
    color: white;
    border-bottom: 1px solid coral;
    padding-top: 30px;
    min-height: 80px;
}
header a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
}
#logo {
    float: right;
}
#logo h1{
    margin: 0;
    text-shadow: 2px 3px 0 coral;
}
header li{
    display: inline;
    float: left;
    padding: 0 15px 0 15px;
}
nav {
    float: left;
    margin-top: 10px;
    overflow: hidden;
    display: flex;
}
.active a{
    color: coral;
    font-weight: bold;
}
a:hover{
    color: aqua;
    font-weight: bold;
}
#image1{
    float: right;
}

/*Banner styles */
#banner{
    min-height: 300px;
    background-color: whitesmoke;
    color: coral;
    text-align: center;
}
#banner h1{
    margin-top: 50px;
    font-size: 60px;
    margin-bottom: 5px;
}
#banner p{
    font-size: 23px;
}

/*Image styles */
#main_col{
    margin-top: 35px;
}
.locations{
    float: left;
    text-align: center;
    padding: 10px;
    width: 31%;
}
.locations img{
    max-width: 100%;
}

.destinations{
    float: left;
    text-align: center;
    padding: 15px;
    width: 45%;
}
.destinations img{
    max-width: 100%;
}
.main_button{
    text-align: center;
}

/* Table styles */
.main_table{
    float: left;
    width: 60%;
    padding-left: 2%;
    margin-bottom: 20%;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    white-space: normal;    
}
th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: left;
}
td{
    height: 50%;
}
thead {background-color: whitesmoke}

/* Sidebar styles */
#side_bar{
    margin-top: 57px;
    float: right;
    width: 30%;
    padding-right: 1%;
    text-align: center;
    color: black;
}
.feature{
    background-color: lightgray;
    margin-top: 15px;
    padding: 15px;
}
/* About styles */
#about{
    min-height: 50px;
    text-align: center;
    background-color: whitesmoke;
    border-bottom: 1px solid coral;
}

/* Form styles */
.quote{
    width: 90%;
    padding: 5px;
    border-style: inset;
    border-color: lightgrey;
    border-width: 3px;
}
input[type=text]{
    width: 40%;
    padding: 20px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid grey;
    border-radius: 1px;
}
input[type=email]{
    width: 40%;
    padding: 20px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid grey;
    border-radius: 1px;
}
input[type=phone]{
    width: 40%;
    padding: 20px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid grey;
    border-radius: 1px;
}
input:focus {
  background-color: whitesmoke;
}
label{
    display: block;
    font-size: 15px;
    margin-top: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  border: 2px solid grey;
  border-radius: 4px;
  background-color: whitesmoke;
  resize: none;
}
select {
  width: 15%;
  padding: 10px 10px;
  border: 2px solid grey;
  border-radius: 4px;
  background-color: whitesmoke;
}
.button1{
    width: 10%;
    padding: 10px 10px;
    background-color: whitesmoke;
    border: 2px solid grey;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Page footer sytlyes */
#footer{
    padding: 5px;
    margin-top: 20px;
    color: coral;
    background-color: whitesmoke;
    text-align: right;
    clear: both;
}
#audioplayer{
    float: left;
}
/* Response page styles */
.response{
    text-align: center;
}

/*Media Queries */
@media(max-width: 768px){
    #logo,
    nav,
    header li,
    #image1,
    .locations,
    .destinations,
    .main_table,
    #side_bar,
    #audioplayer{
        float: none;
        text-align: center;
        width: 100%
    }
    header{
        height: 150px;
    }
    select{
        width: 25%
    }
    .button1{
        width: 20%
    }
}
@media(max-width: 479px){
    #logo,
    nav,
    header li,
    #image1,
    .locations,
    .destinations,
    .main_table,
    #side_bar,
    #audioplayer{
        float: none;
        text-align: center;
        width: 100%
    }
     header{
        height: 170px;
    }
    select{
        width: 25%
    }
    .button1{
        width: 20%
    }
    nav{
        flex-direction: column;
        text-align: center;
        height: 100px;
        
    }
}
